p1{
    color:rgb(161, 12, 12);
    font-size: 90px;
    background-color: black;
}
p2{
    color: rgb(0, 0, 0);
    font-size: 90px;
    background-color: rgb(125, 2, 2);
}


div1{
    height: 40px;
    width: 50px;
}
h1{
    color: black;
    background-color: rgb(100, 3, 3);
}

.slider {
  width: 500px;
  height: 500px;
  overflow: hidden;
  position: relative;
  
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 500px;
  box-sizing: border-box;
  min-height: 500px;
}

.slide img {
  width: 100%;
  display: block;
}
